

 <div class="container mt-5">
    <!-- About me -->
    <div class="row">
        <p>I am a mechatronics engineer with interest and experience in web developmenet</p>
    </div>

    <div class="row">
        <!-- Work Experiences -->
        <div class="col-8">
            <h3 class="mb-3">Work Experience</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mx-3">
                        <h4>Project Engineer @ProLeiT GmbH</h4>
                        <div>Herzogenaurach, Germany</div>
                        <div><strong>2018 - Current</strong></div>
                    </div>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">Development of web applications with TypeScript, Angular, C# and
                            ASP.NET Core</li>
                        <li class="list-group-item">Development of desktop applications with C# and WPF</li>
                        <li class="list-group-item">Experience with MS SQL Server and SQL Tools (SSRS and SSIS)</li>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mx-3">
                        <h4>Jr Full-Stack Developer @HCL Technologies</h4>
                        <div>Guadalajara, Mexico</div>
                        <div><strong>2016 - 2017</strong></div>
                    </div>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">Development of web applications with Java, JavaScript and
                            AngularJS</li>
                        <li class="list-group-item">Development of automation tests with Selenium and Java</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Skills -->
        <div class="col-4">
            <h3 class="mb-3">Skills</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mx-3">
                        <h4>Front End</h4>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Angular</li>
                            <li>Bootstrap</li>
                            <li>Kendo UI</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="mx-3">
                        <h4>Back End</h4>
                        <ul>
                            <li>C#</li>
                            <li>ASP.NET Core</li>
                            <li>MS SQL Server</li>
                            <li>APIs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>