<div class="container mt-5">
  <h3>Previous Projects</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let project of projects">
      <div class="card mb-3">
        <img src="{{ project.imgUrl }}" alt="{{ project.title }}" class="card-image-top">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <div class="btn btn-dark"> <a href="{{ project.siteUrl }}" target="_blank">View Site</a></div>
        </div>
      </div>
    </div>
  </div>
</div>