/* You can add global styles to this file, and also import other style files */

$color1: #233142;
$color2: #455d7a;
$color3: #f95959;
$color4: #e3e3e3;


html {
    margin:    0 auto;
    max-width: 1400px;
}

body {
    background-color: $color4;

}

